{% extends 'base.html' %}

{% block content %}



<div class="img-fluid" data-bgcolor="undefined" style="background-repeat: no-repeat; background-image: url(http://bauprojekt.kz/upload/images/47172_108592_12.jpg); background-size: cover; background-position: center top; width: 110%; height: 70%; opacity: 1; visibility: inherit; z-index: 20;"src="http://bauprojekt.kz/upload/images/47172_108592_12.jpg"></div>

<section class="info-about text-center">
        <div class="container-fluid">
            <div class="p-3 mb-3 text-bg-success rounded-3">
            <div class="row">
            	                <div class="col-md-3 cell cel-1">

                    	<img src="http://bauprojekt.kz/upload/images/small/79874_268260_15.png" alt="Креативные проекты<br><br>" style="height:64px;">

                    <h3>Креативные проекты<br><br></h3>
                </div>
                                <div class="col-md-3 cell cel-2">

                    	<img src="http://bauprojekt.kz/upload/images/small/80615_300790_15.png" alt="Высококвалифицированные специалисты " style="height:64px;">

                    <h3>Высококвалифицированные специалисты </h3>
                </div>
                                <div class="col-md-3 cell cel-3">

                    	<img src="http://bauprojekt.kz/upload/images/small/94946_702191_15.png" alt="Широкий спектр услуг<br><br>" style="height:64px;">

                    <h3>Широкий спектр услуг<br><br></h3>
                </div>
                                <div class="col-md-3 cell cel-4">

                    	<img src="http://bauprojekt.kz/upload/images/small/28497_373439_15.png" alt="Современный дизайн<br><br>" style="height:64px;">

                    <h3>Современный дизайн<br><br></h3>
                </div>

            </div>
        </div>
            </div>
    </section>


    <section class="choosing">
    <div class="container text-center">
        <div class="row align-items-end">
        <div class="container">
            <div class="row">



                <div class="col-md-4 cons hovblue hover-effect">
                    <div class="choos">
                        <a href="#">
                            <figure><img src="http://bauprojekt.kz/upload/images/small/86524_38598_18.jpg" alt="" width="200" height="200"></figure>
                        </a>
                        <div class="why-do">
                            <a href="#"><h4>Надземный трубопровод  ∅700 мм.</h4></a>
                            <p class="text-center">Расположение - г. Риддер, Восточно-Казахстанская область. </p>
                            <div class="inf-btn">
                                <a href="#" class="p-2 mb-2 text-bg-success rounded-3">Подробнее...</a><br>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 cons hovblue hover-effect">
                    <div class="choos">
                        <a href="#">
                            <figure><img src="http://bauprojekt.kz/upload/images/small/96570_770108_09.jpg" alt="" width="200" height="200"></figure>
                        </a>
                        <div class="why-do">
                            <a href="#" class="text-center"><h4>Жилой комплекс "Аристократ"</h4></a>
                            <p class="text-center">Расположение - г. Астана, на левом берегу города в Есильском районе. </p>
                            <div class="inf-btn">
                                <a href="#" class="p-2 mb-2 text-bg-success rounded-3">Подробнее...</a><br>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 cons hovblue hover-effect">
                    <div class="choos">
                        <a href="#">
                            <figure><img src="http://bauprojekt.kz/upload/images/small/10438_603614_18.jpg" alt="" width="200" height="200"></figure>
                        </a>
                        <div class="why-do">
                            <a href="#" class="text-center"><h4>Детская спортивная школа</h4></a>
                            <p class="text-center">Расположение - с. Винное, Глубоковского р-на, Восточно-Казахстанской области.</p>
                            <div class="inf-btn">
                                <a href="#" class="p-2 mb-2 text-bg-success rounded-3">Подробнее...</a><br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    </section>

<div class="p-2 mb-2 text-bg-success rounded-3">
    <div class="partners">
        <div class="container">
            <div class="owl-carousel style2 owl-loaded owl-drag">
                    		<a href="http://www.kazzinc.com/ru" class="rounded">
                    			<img src="http://bauprojekt.kz/upload/images/small/46962_73392_15.jpg" alt="казцинк" height="150" width="150">
                    		</a>

                    		<a href="http://www.kazakhmys.kz/">
                    			<img src="http://bauprojekt.kz/upload/images/small/60790_492246_15.jpg" alt="казахмыс" height="150" width="150">
                    		</a>

                    		<a href="http://www.altyntau.com/">
                    			<img src="http://bauprojekt.kz/upload/images/small/16014_807621_15.jpg" alt="Алтынтау" height="150" width="150">
                    		</a>

                    		<a href="http://www.alts.kz/">
                    			<img src="http://bauprojekt.kz/upload/images/small/57054_269706_15.jpg" alt="Алматинские тепловые сети" height="150" width="150">
                    		</a>

                    		<a href="http://www.kazatomprom.kz/ru">
                    			<img src="http://bauprojekt.kz/upload/images/small/14205_79173_15.jpg" alt="казатомпром" height="150" width="150">
                    		</a>

                    		<a href="http://kazautozhol.kz">
                    			<img src="http://bauprojekt.kz/upload/images/small/57862_121513_15.jpg" alt="казавтожол" height="150" width="150">
                    		</a>

        </div>
    </div>
    </div>
</div>

{% endblock %}